@import 'clockhand'

// TODO using !important should also make it apply to the position property

absolute()
  position absolute
  clockhand(arguments)

fixed()
  position fixed
  clockhand(arguments)

relative()
  position relative
  clockhand(arguments)
